# SPDX-FileCopyrightText: 2022-2023 Paul Colby <git@colby.id.au>
# SPDX-License-Identifier: MIT

name: Manual Tests

on:
  workflow_dispatch:
    inputs:
      url:
        description: Slack Incoming Webhook URL
        required: true
        type: string
      text:
        description: Text of the message to post to Slack
        required: true
        type: string
      channel:
        description: '#channel or @username to post to'
        required: false
        type: string
      iconEmoji:
        description: 'Slack emoji :shortcode: to post with'
        required: false
        type: string
      iconUrl:
        description: 'URL for an icon to post with'
        required: false
        type: string
      username:
        description: Name to post from
        required: false
        type: string
      dryRun:
        description: 'If true, do everything *but* post to Slack'
        required: true
        default: false
        type: boolean
      host:
        description: 'Host environment to run on'
        required: true
        default: ubuntu-22.04
        type: choice
        options:
          - macos-14
          - macos-15
          - macos-26
          - ubuntu-22.04
          - ubuntu-22.04-arm
          - ubuntu-24.04
          - ubuntu-24.04-arm
          - windows-11-arm
          - windows-2022
          - windows-2025

permissions: { }

jobs:
  post:
    runs-on: ${{ github.event.inputs.host }}
    steps:
      - uses: actions/checkout@v6
      - name: Mask sensitive inputs
        run: echo "::add-mask::$(jq -er .inputs.url "$GITHUB_EVENT_PATH")"
        shell: bash
      - name: Run post-to-slack action
        uses: ./
        with:
          url: ${{       github.event.inputs.url       }}
          text: ${{      github.event.inputs.text      }}
          channel: ${{   github.event.inputs.channel   }}
          username: ${{  github.event.inputs.username  }}
          iconEmoji: ${{ github.event.inputs.iconEmoji }}
          iconUrl: ${{   github.event.inputs.iconUrl   }}
          # attachments:
          dryRun: ${{    github.event.inputs.dryRun    }}
