# SPDX-FileCopyrightText: 2022-2023 Paul Colby <git@colby.id.au>
# SPDX-License-Identifier: MIT

name: Automatic Tests

on: push

permissions: { }

jobs:
  minimal:
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - name: Run post-to-slack action
        uses: ./
        with:
          url: https://example.com/
          text: Test message
          dryRun: true
        id: post
      - name: Validate outputs
        run: |
          # Note, the `|| false` is required for `errexit` on MacOS's (seriously old) Bash 3.2.
          set -o errexit -o noclobber -o nounset -o pipefail
          [[ "$REQUEST" == '{"text":"Test message"}' ]] || false
          [[ -z "$RESPONSE" ]] || false # Dry-run.
        shell: bash
        env:
          REQUEST: ${{  steps.post.outputs.request  }}
          RESPONSE: ${{ steps.post.outputs.response }}
    strategy: &strategy
      matrix:
        os:
          - macos-14
          - macos-15
          - macos-26
          - ubuntu-22.04
          - ubuntu-22.04-arm
          - ubuntu-24.04
          - ubuntu-24.04-arm
          - windows-11-arm
          - windows-2022
          - windows-2025
      fail-fast: false

  new-line:
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - name: Run post-to-slack action
        uses: ./
        with:
          url: https://example.com/
          text: Message\nwith\nnew-line\ncharacters
          dryRun: true
        id: post
      - name: Validate outputs
        run: |
          # Note, the `|| false` is required for `errexit` on MacOS's (seriously old) Bash 3.2.
          set -o errexit -o noclobber -o nounset -o pipefail
          [[ "$REQUEST" == "$expectedRequest" ]] || false
          [[ -z "$RESPONSE" ]] || false # Dry-run.
        shell: bash
        env:
          REQUEST: ${{  steps.post.outputs.request  }}
          RESPONSE: ${{ steps.post.outputs.response }}
          expectedRequest: >-
            {"text":"Message\nwith\nnew-line\ncharacters"}
    strategy: *strategy

  extensive:
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - name: Run post-to-slack action
        uses: ./
        with:
          url: ${{ secrets.TEST_EXAMPLE_URL }}
          text: >-
            Complex message with "quotes", 'quotes',
            and {fancy} [symbols] ;)
          channel: '#general'
          username: "Testy \"Tester\" Mc'Testface"
          iconEmoji: ':gh"o st:'
          iconUrl: 'https://example.com/example.png'
          attachments: |
            [
              { "test": 1 },
              { "test": 2 }
            ]
          dryRun: true
        id: post
      - name: Validate outputs
        run: |
          # Note, the `|| false` is required for `errexit` on MacOS's (seriously old) Bash 3.2.
          set -o errexit -o noclobber -o nounset -o pipefail
          [[ "$REQUEST" == "$expectedRequest" ]] || false
          [[ -z "$RESPONSE" ]] || false # Dry-run.
        shell: bash
        env:
          REQUEST: ${{  steps.post.outputs.request  }}
          RESPONSE: ${{ steps.post.outputs.response }}
          expectedRequest: >-
            {"attachments":[{"test":1},{"test":2}],"channel":"#general","icon_emoji":":gh\"o
            st:","icon_url":"https://example.com/example.png","text":"Complex message with \"quotes\",
            'quotes', and {fancy} [symbols] ;)","username":"Testy \"Tester\" Mc'Testface"}
    strategy: *strategy
